#board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:93.6vh;
    width: 100vw;
    background-color: grey;

    .row {
        height: 100px;
        width: 100%;
        background-color: darkcyan;

        .label {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 100px;
            background-color: cornflowerblue;
            color: white;
        }
    }
}